*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Amiri', serif;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
    color: #000;
    font-size: 10px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

p {
    font-size: 1.15rem;
}

.app {
    height: 100vh;
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr;
    background: linear-gradient(to top, rgb(247, 246, 238), rgba(120, 157, 183, 0.5));
}

.header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-bottom: 1px solid #000;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5), 0 15px 40px rgba(166, 173, 201, 0.2);
    background-color: rgba(120, 157, 183, 0.75)
}

.header__links a {
    cursor: pointer;
    margin: 1rem;
    font-size: 1.5rem;
}

.header__links a:hover {
    color: #ffb838;
    transition: all 0.25s;
}

.main {
    grid-column: 1 / -1;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 2rem;
    position: relative;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 2.5rem 0;
}

.section__title {
    padding: 2.5rem 0;
    text-decoration-line: underline;
}

.section__photo {
    display: inline-block;
}

.section__photo img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid rgba(254 ,299 ,165 ,0.25);
    box-shadow: 0 4px 8px 12px rgba(254 ,299 ,165 ,0.25);
}

.section__paragraph {
    padding-top: 1.5rem;
    width: 80%;
    margin: auto;
}

.section__content {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
    grid-gap: 5%;
}

.section__card {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5), 0 15px 40px rgba(166, 173, 201, 0.2);
    border-radius: 5px;
    background: linear-gradient(to top, rgb(247, 246, 238), rgba(255, 184, 56, 0.1));
}

.section__card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 184, 56, 0.3);
    filter: brightness(110%);
}

.section__card--title {
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #000;
}

.section__card--content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 2rem;
    text-align: center;
    justify-content: flex-end;
    justify-content: space-around;
}

.section__card--content p {
    padding: 0 2rem 2rem 2rem;
    text-align: center;
}

.tagWrap {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tagWrap a {
    padding: 0.25rem;
    text-decoration: none;
    border-bottom: 1px solid black;
    color: #486d87;
}

.tagWrap a:hover {
    background-color: rgba(120, 157, 183, 0.25);
    transition: all 0.25s;
}

.contact__wrap {
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, rgb(247, 246, 238), rgba(120, 157, 183, 0.2));
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5), 0 15px 40px rgba(166, 173, 201, 0.2);
    padding: 5rem;
}

.contact__form {
    height: 100%;
    width: 100%;
    margin: auto;
}

.contact__form--input--wrap {
    position: relative;
    margin-bottom: 1.5rem;
    border: 1px solid #e6e6e6;
}

.contact__form--input--wrap textarea {
    height: 10rem;
    width: 100%;
    padding: 1rem;
}

.contact__form--input {
    display: block;
    width: 100%;
    height: 2rem;
    padding: 0 1rem;
    font-size: 1.25rem;
    line-height: 1rem;
    margin: auto;
    outline: none;
    border: none;
}

.contact__form--btn--wrap {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.contact__form--button {
    width: 9rem;
    height: 3rem;
    background-color: #486d87;
    color: #f7f6ee;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.footer {
    height: 2.5vh;
    text-align: center;
    margin-top: 5rem;
}

.svg {
    display: none;
}

@media only screen and (min-width: 726px) {
    .svg {
        height: 7rem;
        width: 7rem;
        z-index: -1;
    }
}

@media only screen and (min-width: 950px) {
    .svg {
        height: 10rem;
        width: 10rem;
    }
}

.svg__programming {
    transform: rotate(-35deg);
    position: absolute;
    top: 65%;
    left: 5%;
}

.svg__macbook {
    transform: rotate(35deg);
    position: absolute;
    top: 55%;
    right: 5%;
}

.svg__scrum_board {
    transform: rotate(35deg);
    position: absolute;
    top: 175%;
    right: 2%;
}

.svg__iphone {
    transform: rotate(-35deg);
    position: absolute;
    top: 140%;
    left: 1%;
}
