*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    color: #000;
    font-size: 10px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2.25rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 0.075rem;
}

h3 {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h4 {
    font-size: 1.75rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h5 {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;

}

p {
    font-size: 1.15rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: hsl(180, 3%, 94%);
    height: 100vh;
    overflow-y: auto;
}

.main {
    grid-column: 1 / -1;
    overflow-x: hidden;
    margin-bottom: 2rem;
    position: relative;
}

.header {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
}

.header__name--special {
    writing-mode: vertical-lr;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    height: 70%;
    margin: auto;
    position: absolute;
    top: 10%;
    right: 10%;
}

.make_color {
    color: rgba(255, 184, 56, 0.75);
}

.header__name h3 {
    border-bottom: 1px solid rgba(120, 157, 183, 0.75);
}

.header__links a {
    cursor: pointer;
    margin: 1rem;
    font-size: 1.5rem;
}

.header__links a:hover {
    color: #ffb838;
    transition: all 0.25s;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 5rem 0;
}

.section__title {
    padding: 2rem;
    text-decoration-line: underline;
    text-align: justify;
    font-weight: 400;
}

.section__projects {
    text-decoration-color: rgba(120, 157, 183, 0.75);
}

.section__skills {
    text-decoration-color: rgba(255, 184, 56, 0.75);
}

.section__contact {
    text-decoration-color: rgba(0, 0, 0, 0.65);
}

.section__photo {
    display: inline-block;
}

.section__photo img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid rgba(254 ,299 ,165 ,0.2);
    box-shadow:
        0 4px 8px 12px rgba(254 ,299 ,165 ,0.15),
        0 8px 16px 24px rgba(254 ,299 ,165 ,0.1);
}

.section__paragraph {
    padding-top: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    width: 80%;
    margin: auto;
}

.section__paragraph p {
    max-width: calc(70em * 0.5);
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.section__content {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
    grid-gap: 5%;
}

.section__card {
    border-top: 6px solid rgba(255, 184, 56, 0.75);
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 1px 0 rgba(154, 160, 185, 0.1);
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5), 0 15px 40px rgba(166, 173, 201, 0.2);
    border-radius: 5px;
    background: rgba(247, 246, 238, 1.0);
}

.section__card--projects {
    border-top: 6px solid rgba(120, 157, 183, 0.75);
}

.section__card:hover {
    filter: brightness(102%);
}

.section__card--title {
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #000;
}

.section__card--content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    padding-top: 2rem;
    text-align: left;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.85);
    line-height: 1.5rem;
}

.section__card--content p {
    padding: 0 2rem 2rem 2rem;
}

.tagWrap {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.tagWrap a {
    padding: 0.25rem;
    text-decoration: none;
    border-bottom: 1px solid black;
    color: #486d87;
}

.tagWrap a:hover {
    background-color: rgba(120, 157, 183, 0.25);
    transition: all 0.25s;
}

.contact__wrap {
    height: 100%;
    width: 100%;
    background: rgba(247, 246, 238, 1.0);
    border-top: 6px solid rgba(0, 0, 0, 0.65);
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.5), 0 15px 40px rgba(166, 173, 201, 0.2);
    padding: 5rem;
}

@media screen and (max-width: 726px) {
    .contact {
        margin-top: 17rem;
    }
}

.contact__form {
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.contact__form--input--wrap {
    position: relative;
    margin-bottom: 1.5rem;
    border: 1px solid #e6e6e6;
}

.contact__form--input--wrap textarea {
    height: 10rem;
    width: 100%;
    padding: 1rem;
}

.contact__form--input {
    display: block;
    width: 100%;
    height: 2rem;
    padding: 0 1rem;
    font-size: 1.25rem;
    line-height: 1rem;
    margin: auto;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.contact__form--btn--wrap {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.contact__form--button {
    width: 9rem;
    height: 3rem;
    background-color: #486d87;
    color: #f7f6ee;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.footer {
    height: 2.5vh;
    text-align: center;
    margin-top: 5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.svg {
    display: none;
}

@media only screen and (min-width: 726px) {
    .svg {
        height: 7rem;
        width: 7rem;
        z-index: -1;
    }
}

@media only screen and (min-width: 950px) {
    .svg {
        height: 10rem;
        width: 10rem;
    }
}

.svg__programming {
    transform: rotate(-35deg);
    position: absolute;
    top: 65%;
    left: 5%;
}

.svg__macbook {
    transform: rotate(35deg);
    position: absolute;
    top: 55%;
    right: 5%;
}

.svg__scrum_board {
    transform: rotate(35deg);
    position: absolute;
    top: 175%;
    right: 2%;
}

.svg__iphone {
    transform: rotate(-35deg);
    position: absolute;
    top: 140%;
    left: 1%;
}
